<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All ratings</title>
</head>
<body>
    <h1>User : {{ user }}</h1>
    <br>
    <h3> All the ratings for the movie {{ movie_name }} are</h3>
    <ul>
        {% for rating in ratings %}
            <li>
                User : {{ rating.user_of_rating }} <br>
                Rating: {{ rating.rating }} <br>
                Review: {{ rating.review }} <br>
            </li>
            <br><br>
        {% endfor %}
    </ul>

    <br>
    <a href={{ url_for('movie', movie_id=movie_id) }}>Back</a>
</body>
</html>