<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Edit</title>
</head>
<body>
    <h1>User:- {{ user }}</h1>
    <h3> Editing Comment </h3>
    <br>
    <form method="POST">
        Comment:-
        <textarea name = "comment" rows = "6" cols="50">{{ comment.comment }} </textarea>
        <br><br><br><br>
        <input type="submit" value="Update Comment">
    </form>
    <br>
    <a href={{ url_for('blog',movie_id=movie_id,blog_id = blog_id) }} > Go Back </a>
    <br>
    <a href={{ url_for('home') }}>Home</a>
</body>
</html>