<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>{{ user }}</h2>

    {% if user == 'admin' %}
    <a href="/admin/addMovie">Add Movie</a>
    <br />
    {% endif %}

    <a href={{ url_for('movies', user=user) }}>View all Movies</a>
    <br />

    <a href={{ url_for('ratings', user=user) }}>View your ratings</a>
    <br />
    <a href="/">Logout</a>
  </body>
</html>
