<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>{{ user }}</h2>

    {% if user == 'admin' %}
    <a href="/addMovie">Add Movie</a>
    <br />
    {% endif %}

   
    <a href={{ url_for('movies', user=user) }}>View all Movies</a>
    <br />

    <a href={{ url_for('ratings', user=user) }}>View your ratings</a>
    <br />

    <a href={{ url_for('profile', user=user) }}>View your profile</a>
    <br />
     {% if user == 'admin' %}
    <a href={{ url_for('all_users', user=user) }}>View All Users</a>
    <br>
    {% endif %}
    <a href={{ url_for('logout') }}>Logout</a>
  </body>
</html>
