<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>{{ user }}</h2>

    {% if user == 'admin' %}
    <a href={{ url_for('addMovie') }}>Add Movie</a>
    <br />
    {% endif %}

   
    <a href={{ url_for('movies') }}>View all Movies</a>
    <br />

    <a href={{ url_for('ratings') }}>View your ratings</a>
    <br />

    <a href={{ url_for('profile', username=user) }}>View your profile</a>
    <br />
    
     {% if user == 'admin' %}
    <a href={{ url_for('all_users') }}>View All Users</a>
    <br>
    {% endif %}

    <a href={{ url_for('own_blogs') }}>View your blogs</a>
    <br>
    <a href = {{ url_for('own_comments') }}>View your comments</a><br>
    <a href={{ url_for('logout') }}>Logout</a>
    <br>
    
    <div>
      <h4>{{ errorMsg }}</h4>
      <h2>Search a user by username</h2>
      <form method="post">
        Username:
        <input type="text" name="username">
        <input type="submit" value="Search User">
      </form>
    </div>
  </body>
</html>
