<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
</head>

<body>
    <h3>Movies List</h3>
    <ol>
        {% for movie in movies %}
        <li>

            Name:- {{ movie.name }}
            <br>

            Duration:- {{ movie.duration }}
            <br>

            Language:- {{ movie.language }}
            <br>

            <a href={{ url_for('movie', user=user, movie_id=movie.movie_id) }}>View</a>
        </li>
        {% endfor %}
    </ol>
    <br>
    <a href={{ url_for('home', user=user) }}>Home</a>
</body>

</html>