<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>

<body>
    <h1>
        Name: {{ movie.name }}
    </h1>
    <div>
        Duration:- {{ movie.duration }}
        <br>

        Language:- {{ movie.language }}
        <br>

        Release Date:- {{ movie.release_date }}
        <br>

        Average Rating:- {{ movie.avg_rating }}
    </div>

    <div>
        <h2>Ratings</h2>
        <ul>
            {% for rating in ratings %}
            <li>
                Rating: {{ rating.rating }} <br>
                Review: {{ rating.review }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Give rating</h2>
        <form method="post">
            <input type="number" name="rating" placeholder="Rating">
            <input type="text" name="review" placeholder="Review">
            <input type="submit" value="Rate">
        </form>
    </div>
    <br>
    <a href={{ url_for('home', user=user) }}>Home</a>
</body>

</html>