<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>{{ user }}</h1>
    <div>
        Name: {{ name }} <br>
        Email: {{ email }} <br>
        Contact: {{ contact }} <br>
    </div>
    <br>

    {% if session_user == user %}
        <h4>Update the details</h4>
        <form method="POST">
            <input type="password" name="password" required placeholder="Password">
            <input type="text" name="name" required placeholder="Name">
            <input type="email" name="email" required placeholder="Email">
            <input type="text" name="contact" required placeholder="Contact">
            <input type="submit" value="Update Profile">
        </form>
    {% endif %}

    <br>

    {% if blog_size > 0 %}
        <h4>Blogs of the user are :- </h4>
        <ul>
            {% for blog in blogs %}
                <li>
                    <a href={{ url_for('blog', movie_id=blog.movie_id, blog_id=blog.blog_id) }}>{{ blog.heading }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>There are no Blogs written by this user</h4>
    {% endif %}

    <br><br>

    {% if comment_size > 0 %}
    <h4>Comments of the user are </h4><br>
    <ul>
        {% for i in comments %}
            <li>            
                Comment:- {{ i.comment }} <br>
                For blog :- <a href={{ url_for('blog', movie_id=i.movie_id, blog_id=i.blog_id) }}> {{ i.heading }}</a>
                <br> Published on:- <strong>{{ i.published_on }} </strong>
                <br><br><br>
            </li>
        {% endfor %}
    </ul>    
    {% else %}
        <h4>There are no comments made by this user</h4>
    {% endif %}

    <br><br>
    <a href={{ url_for('home') }}>Home</a>
</body>
</html>