<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your ratings</title>
</head>
<body>
    <h1>Your ratings</h1>
    <ul>
        {% for rating in ratings %}
            <li>
                Movie Name: {{ rating.movie_name }} <br>
                Rating: {{ rating.rating }} <br>
                Review: {{ rating.review }} <br>
                <a href = {{ url_for('rating_edit', movie_id=rating.movie_id, rating_id=rating.rating_id )}} >Edit</a>
                <br>
                <a href = {{ url_for('rating_delete_in_view_your', movie_id=rating.movie_id, rating_id=rating.rating_id) }}> 
                Delete
                </a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <a href={{ url_for('home') }}>Home</a>
</body>
</html>